@model ExpedientesAcademicos.Models.Expediente

@{
    ViewData["Title"] = "Crear Expediente";
}

<h1>Crear</h1>

<h4>expediente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label">Alumno</label>
                <select asp-for="AlumnoId" class ="form-control" asp-items="ViewBag.alumnoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MateriaId" class="control-label">Materia</label>
                <select asp-for="MateriaId" class ="form-control" asp-items="ViewBag.materiaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NotaFinal" class="control-label"></label>
                <input asp-for="NotaFinal" class="form-control" />
                <span asp-validation-for="NotaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
