USE [ExpedientesDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/5/2026 13:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 9/5/2026 13:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[AlumnoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[Grado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_alumnos] PRIMARY KEY CLUSTERED 
(
	[AlumnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expedientes]    Script Date: 9/5/2026 13:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expedientes](
	[expedienteId] [int] IDENTITY(1,1) NOT NULL,
	[alumnoId] [int] NOT NULL,
	[materiaId] [int] NOT NULL,
	[NotaFinal] [decimal](18, 2) NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
 CONSTRAINT [PK_expedientes] PRIMARY KEY CLUSTERED 
(
	[expedienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 9/5/2026 13:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[materiaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [nvarchar](max) NOT NULL,
	[Docente] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_materias] PRIMARY KEY CLUSTERED 
(
	[materiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[expedientes]  WITH CHECK ADD  CONSTRAINT [FK_expedientes_alumnos_alumnoId] FOREIGN KEY([alumnoId])
REFERENCES [dbo].[alumnos] ([AlumnoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[expedientes] CHECK CONSTRAINT [FK_expedientes_alumnos_alumnoId]
GO
ALTER TABLE [dbo].[expedientes]  WITH CHECK ADD  CONSTRAINT [FK_expedientes_materias_materiaId] FOREIGN KEY([materiaId])
REFERENCES [dbo].[materias] ([materiaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[expedientes] CHECK CONSTRAINT [FK_expedientes_materias_materiaId]
GO
